@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Quicksand:wght@400;500;600;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Titles
    3. Layout
    4. Areas
        4.1 Nav
        4.2 Form
        4.3 List
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    background-color: var(--color--background);
    color: var(--color--text);
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    font-size: 16px
}

.outer-container {
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: start;
     width: 100vw;
 }

input, select {
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
}
/* ------------------------------- 2. Titles-----------------------------------*/

.list-wrapper h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 2px 0 20px 41px;
    max-width: 100px;
}

nav h3 {
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 1px;
}

/* ------------------------------- 3. Layout --------------------------------------- */

.wrapper-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}
.page-left-wrapper-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-inline: 14px;
}
.page-right-wrapper-desktop {
    width: 100%;
    padding-inline: 12px;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}
aside {
    width: 100%;
}
.global-container {
    border-radius: 30px;
    border: 3px solid var(--color--text);
}

/* ------------------------------- 4. Areas --------------------------------------- */

/* -----------   4.1 Navigation + Searchbar------------------ */

/* sort buttons */
.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    max-width: 500px;
    padding: 28px 20px 20px 40px;
    column-gap: 20px;
}
nav .button {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--color--text);
    padding: 0;
}

/* search bar */
.search-field {
    width: 100%;
    padding: 0 75px 0 45px;
    display: flex;
    align-items: center;
}
.search-icon {
    position: relative;
    margin-right: -47px;
    margin-top: -4px;
}
.search-field input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color--text);
    margin-left: 10px;
    max-width: 300px;
    padding-left: 56px;
    font-size: 1rem;
}
.search-field input:focus {
    outline: none;
}

/* search result */
.search-result-container {
    padding: 20px 40px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;
    min-width: 466px;
}
.remove-search-result-icon {
    margin-bottom: -4px;
    margin-left: 8px;
}

/* -----------   4.2 Create new list item ------------------ */

/* form containers */
.form-container {
    max-width: 400px;
    margin: 50px 30px 85px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    border: 3px solid var(--color-container-border);
    padding: 26px 28px 46px 28px;
    border-radius: 20px;
    position: relative;
}
.form-container::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 2px solid transparent;
    backdrop-filter: blur(1px);
    z-index: 0;
}

/* form input */
.form-container input, select {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color--text);
    margin-left: 0;
    width: 90%;
    padding-left: 20px;
    font-size: 1.07rem;
    color: var(--color--text);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    z-index: 5;
}
.form-container input:focus {
    outline: none; /* Remove the default outline */
}
.form-container select:focus {
    outline: none;
}
.form-container input::placeholder {
    color: var(--color--text);
}

/* submit button */
.button--submit {
    position: absolute;
    bottom: -76px;
    right: 24px;
    padding: 16px 18px;
    background-color: var(--color--button-background);
    border-radius: 30px;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
}

/* error message */
.error-message {
    color: var(--color-error-message);
    font-size: 0.8rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 9px;
    margin-left: 4px;
    z-index: 10;
    margin-bottom: -20px;
}

/* -----------   4.1 List ---------------------------------- */

/* list containers */
.list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 45px 25px;
}
.align-at-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 18px;
}
.align-at-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

/* list item */
.list-item {
    font-family: 'IBM Plex Mono', monospace;
    font-weight:400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    margin: 10px;
    max-width: 380px;
    flex-shrink: 1;

}
.list-title {
    font-size: 0.9rem;
}

/* list circles  */
.lowPriorityCircle {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: var(--color--circle-one);
    border-radius: 50%;
    border: 1px solid var(--color--circle-border);
}
.mediumPriorityCircle {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: var(--color--circle-two);
    border-radius: 50%;
    border: 1px solid var(--color--circle-border);
}
.highPriorityCircle {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: var(--color--circle-two);
    border-radius: 50%;
    border: 1px solid var(--color--circle-border);
}

/* status checkbox */
.checkbox-button {
    display: inline-block;
    padding: 7px 4px;
    border: 2px solid var(--color--text);
    background-color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
    border-radius: 5px;
    width: 4.7rem;
    font-size: 0.7rem;
}
.checkbox-button input[type="checkbox"]:checked + label {
    background-color: var(--color--text);
    color: white;
}
.checkbox-button.completed {
    background-color: var(--color--text);
    color: white;
}
.checkbox-button.pending {
    background-color: white;
    color: black;
}
.checkbox-button input[type="checkbox"] {
    display: none;
}
.checkbox-button label {
    display: block;
    margin: 0;
    cursor: pointer;
}

/* ------------------------------- 5. Media Queries
--------------------------------------- */

@media only screen and (min-width: 600px) {

   /* containers */
    .outer-container {
        width: 100vw;
    }
    .wrapper-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
    }
    .page-left-wrapper-desktop {
        max-width: 680px;
        padding-top: 10px;
    }
    .page-right-wrapper-desktop {
        max-width: 680px;
    }
    nav {
        max-width: 460px;
    }
    aside {
        max-width: 660px;
    }

    /* form */
    .form-container {
        max-width: 540px;
        margin: 50px 40px 85px 33px;
        padding: 26px 30px 46px 30px;
    }

    /* list */
    .list-item {
        max-width: 520px;
    }
    .list-title {
        font-size: 1.3rem;
    }
    .checkbox-button {
        padding: 9px 4px;
        width: 6rem;
        font-size: 0.9rem;
    }

}

@media only screen and (min-width: 1020px) {

    /* containers */
    .outer-container {
        width: 100vw;
        padding-block: 20px;
    }
    .wrapper-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        width: 100%;
    }
    .page-left-wrapper-desktop{
        padding: 20px 0 0 20px;
        flex-basis: 500px;
        margin: 0;
    }
    .page-right-wrapper-desktop {
       flex-basis: 500px;
        padding-right: 10px;
    }

    /* search */
    .search-field {
        max-width: 300px;
        padding: 0 0 0 45px;
        display: flex;
        align-items: center;
    }

    /* form */
    .form-container {
        width: 397px;
    }

    /* list */
    .list-wrapper {
        padding: 45px 0;
    }
    .list-item {
        max-width: 500px;
    }
    .align-at-start {
        column-gap: 35px;
    }
    .align-at-end {
        column-gap: 25px;
    }
    .list-title {
        font-size: 1.3rem;
    }

}
